/* *{
  border: 1px solid red;
} */
html {
  height: 100%;
  width: 100%;
}
  body {
  font-family: "Cinzel", sans-serif;
  color: white;
  font-weight: 400;
  margin: 0px;
  height: 100%;
}

.main-page {
  margin: 0px;
  background-image: linear-gradient(#101010,#585858);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.right-section,
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  width: 12%;
  height: auto;
}

.player-emoji,
.computer-emoji {
  font-size: 45px;
  margin-bottom: 10px;
}

.human-player,
.computer-player {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  margin: 0px;
}

.human-wins,
.computer-wins {
  font-size: 18px;
}

.middle-section{
  width: 76%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header{
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 50px 0px 0px 0px;
  border: 3px solid rebeccapurple;
  border-radius: 50px;
  padding: 0px 20px 0px 20px;
  background-color: transparent;
  opacity: 80%;
}

.choose-game {
  font-size: 30px;
  margin: 10px 0px 50px 0px;
}

.game-choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-play-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.classic-game,
.magic-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  border-radius: 5px;
  width: 250px;
}

.classic-game {
  margin: 20px 0px 40px 0px;
}

.magic-game {
  margin-bottom: 40px;
}

.classic-game:hover,
.magic-game:hover,
.change-game:hover{
  background-color: #383838;
  cursor: pointer;
  border: 2px solid black;
}

.classic-header,
.magic-header {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 10px 0px 5px 0px;
}

.magic-game > p,
.classic-game > p{
  font-size: 16px;
  margin: 0px;
  padding: 10px;
}

.change-game {
  font-family: "Cinzel", sans-serif;
  color: white;
  background-color: #101010;
  font-size: 16px;
  height: 50px;
  width: 100px;
  border: 2px solid white;
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  text-align: center;
}

img {
  height: 150px;
  width: 150px;
  padding: 50px;
}

.hidden {
  display: none;
}
