/* *{
  border: 1px solid red;
} */

  body {
  font-family: "Cinzel", sans-serif;
  color: white;
  font-weight: 400;
  margin: 0px;
  height: 100%;
}

.main-page {
  margin: 0px;
  background-image: linear-gradient(#101010,#585858);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.right-section,
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383838;
  width: 12%;
  height: auto;
}

.player-emoji,
.computer-emoji {
  font-size: 45px;
  margin-bottom: 10px;
}

.human-player,
.computer-player {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0px 0px 0px;
}

.human-wins,
.computer-wins {
  font-size: 18px;
}

.middle-section{
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header{
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 50px 0px 0px 0px;
}

.choose-game {
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

.game-choices-container {
  display: flex;
  flex-direction: column;
}

.classic-game,
.magic-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
}

.classic-game {
  margin: 50px 0px 40px 0px;
}

.magic-game {
  margin-bottom: 40px;
}

.classic-game:hover,
.magic-game:hover{
  background-color: #585858;
  cursor: pointer;
}

.classic-header,
.magic-header {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin: 10px 0px 5px 0px;
}

.magic-game > p,
.classic-game > p{
  font-size: 16px;
  margin: 0px;
  padding: 10px;
}

.hidden {
  display: none;
}
